<div class="container">

<!--    <div class="card card-block">
    <div>{{project | json}}</div>

      <div>
          <h1>{{project?.name}}</h1>
          <p>Age ..{{ project?.sonarkey }}</p>
          <p>Id ..{{ project?.id }}</p>
      </div>
    </div>-->

    <h1>{{project?.name}} Details</h1>

  <p class="error" *ngIf="errorMesssonarkey">{{errorMesssonarkey}}</p>


<!--
  <h3><i>A FormGroup with multiple FormControls</i></h3>
-->
<!--<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" novalidate>

  <div class="form-group">

  <div class="form-group">
  &lt;!&ndash;street&ndash;&gt;
    <label class="center-block">ID:
      <input class="form-control" formControlName="id">
    </label>
  </div>

    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>
  &lt;!&ndash;city&ndash;&gt;
  <div class="form-group">
    <label class="center-block">Sonarkey:
      <input class="form-control" formControlName="sonarkey">
    </label>
  </div>
  &lt;!&ndash; <button type="submit"
            [disabled]="projectForm.pristine" class="btn btn-success">Save</button> &nbsp;&ndash;&gt;
</form>-->

    <button (click)="showRules()">Show Rules</button>
  <button (click)="showSeverity()">Show Severity</button>
  <button (click)="showComponents()">Show Components</button>


  <div *ngIf="componentsShown">
    <app-issues-gouped-by-components></app-issues-gouped-by-components>

  </div>

  <div *ngIf="severityShown">
    <app-issues-gouped-by-severity></app-issues-gouped-by-severity>

  </div>
  <div *ngIf="rulesShown">
    <!--<h2>
      {{project.name | uppercase}} is my hero
    </h2>-->

    <app-issues-gouped-by-rules></app-issues-gouped-by-rules>



<!--    <md-selection-list class="container">
      <md-list-option *ngFor="let issue of issues" [class.selected]="bear === selectedBear">
        <h4 class="mat-card-title">{{ issue.rule }}</h4>
        &lt;!&ndash;<div>&ndash;&gt;

        &lt;!&ndash;                <button (click)="edit(bear)">Edit ..{{ aspect._id }}</button>
                        <button (click)="onSelect(bear)">View details ..{{ aspect._id }}</button>&ndash;&gt;

        &lt;!&ndash;</div>&ndash;&gt;
      </md-list-option>

      &lt;!&ndash;<button (click)="newBear()">Add new Bear</button>&ndash;&gt;
      &lt;!&ndash;&ndash;&gt;
      <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>


    </md-selection-list>-->
    <button (click)="gotoDetail()">View Details</button>
  </div>

    <button (click)="goBack()">Back</button>


  

<!--<p>Form value: {{ projectForm.value | json }}</p>
<p>Form status: {{ projectForm.status | json }}</p>
<p>Name value: {{ projectForm.get('name').value }}</p>
<p>Name pristine: {{ projectForm.get('name').pristine }}</p>
<p>Name untouched: {{ projectForm.get('name').untouched }}</p>-->


</div>