<p>
    aspect-drilldown-level-0 works!
</p>

<!--<div *ngFor="let aspect of aspects" class='indent'>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>{{aspect.name}}</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>
        &lt;!&ndash;
            <pre *ngFor="let result of group[1]" class='dataResult'>{{result.message}}</pre>
        &ndash;&gt;


    </mat-expansion-panel>
</div>-->

<h2>
FirstLevel</h2>

<div *ngFor="let aspect of allAspects" class='indent'>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>{{aspect.name}}</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>

            <pre *ngFor="let child of aspect.children" class='dataResult'>{{child.name}}</pre>



    </mat-expansion-panel>
</div>

<!--
<div *ngFor="let group of groupedResults" class='indent'>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>{{group[0]}}</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <pre *ngFor="let result of group[1]" class='dataResult'>{{result.message}}</pre>


    </mat-expansion-panel>
</div>
-->
