<!--The whole content below can be removed with the new code.-->

    <md-toolbar color="primary">
        <span>Quam View</span>
        <span class="example-spacer"></span>
        <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
    </md-toolbar>

    <md-menu #appMenu="mdMenu">
        <a routerLink="/"><button md-menu-item> Home </button></a>
        <a routerLink="/all-aspects"><button md-menu-item> All Aspects </button></a>
        <a routerLink="/all-factors"><button md-menu-item> All Factors </button></a>

    </md-menu>

    <router-outlet></router-outlet>



